.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: #ffffff;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px rgb(177, 175, 175);
}

.product__info {
    height: 100px;
    margin-bottom: 25px;
}

.product__price {
    margin-top: 5px;
}

.product__rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background: #feBd69;
    border-radius: 3px;
    border: 1px solid;
    height: 30px;
    margin-top: 10px;
    border-color: #fdb454 #ffb049 #fbaa3f;
    color: #333333;
}
